<app-nav></app-nav>
<div class="main">
    <div id="leftdiv">
        <h4>Contact Us</h4>
        <p>Thank you for your interest in Unpadh! If you have any questions,
            or feedback, or just want to say hello, we'd love to hear from you.
            Our team is dedicated to creating a seamless and enriching educational
            experience for everyone. Here are the various ways you can get in touch...</p>

    </div>
    <div id="rightdiv">
        <img src="/assets/images/contactpageimage.jpeg" height="200">
    </div>
</div>
<div id="maintwo">
    <h4>Home</h4>
    <h4>/</h4>
    <h4>Contact Us</h4>
</div>
<div id="LetstalkLeft">
    <div id="Formmain">
        <div id="form">
            <h2>Let's Talk</h2>
            <p>We do noramlly get back within 48hrs.</p>
            <div id="messagepara">
                <p>Please leave a message</p>
            </div>
            <div id="name">
                <div id="firstname">

                    <input class="Name" type="Name" placeholder="First Name*" />
                </div>
                <div id="lastname">
                    <input class="Name" type="Name" placeholder="Last Name*" />
                </div>
            </div>
            <div id="details">
                <div id="email">

                    <input class="email" type="email" placeholder="Enter Your Email*" />
                </div>
                <div id="number">
                    <input class="number" type="number" placeholder="Phone Number*" />
                </div>
            </div>
            <div id="Message">
                <div id="message">

                    <input class="message" type="message" placeholder="Write a Message*" />
                </div>
            </div>
            <br>
            <div id="checkbox">
                <div id="checkboxleft">
                    <input type="Checkbox" value="I'am not a robot" name="messeage">I'am not a robot
                </div>
                <div id="checkboxright">
                    <img src="/assets/images/recaptcha.jpeg">
                </div>

            </div>
            <div id="buttons">
                <button id="send" type="submit">Send Message</button>
            </div>
        </div>
    </div>
    <div id="Box">
        <h2>Contact Info</h2>

        <div id="callnumber">
            <div id="calllogo">
                <img src="/assets/images/phonecalllogo.jpeg" width="55">
            </div>
            <div id="callinfo">
                <h4>Telephone</h4>
                <p>+91 9582763275</p>
                <p>+91 9267936382</p>
            </div>
        </div>
        <div id="emailaddress">
            <div id="emaillogo">
                <img src="/assets/images/Emaillogo.jpeg" width="60">
            </div>
            <div id="emailinfo">
                <h4>Our Mail</h4>
                <p>info&#64;theunpadh.com</p>
                <p>hr&#64;theunpadh.com</p>

            </div>
        </div>
        <div id="Follow">
            <h4>Follow Us</h4>
            <div id="linklogo">
                <img src="/assets/images/Flogo.jpeg">
                <img src="/assets/images/logo.jpeg">
                <img src="/assets/images/Instalogo.jpeg">
                <img src="/assets/images/ylogo.jpeg">
            </div>
        </div>
    </div>


</div>
<app-page7></app-page7>
