<app-nav></app-nav>
<div id="about">
    <h1>About us</h1>
    <p>A relatively permanent change in behavior or potential behavior resulting from learning is the result of interactions between stimuli.</p>
</div>
<div class="header">   
    <a href="/page1" style="color: rgb(82, 185, 166);">Home</a>/<a href="/about">About us</a>
    <div id="content">
        <div id="left">
            <img src="https://www.theunpadh.com/storage/page/1689749156people-avatar-8.png" alt="">
        </div>
        <div id="right">
            <h1><span style="font-weight: 300;">What is</span> UNPADH ?</h1>
            <p>Unpadh is an EdTech company and is founded by Amit Kumar to connect young minds with new ideas and creative teaching methods. We are newly incepted in the online education space and are targeting different pain points by providing various online and technology-based courses or programs in the field of management and technology programs from the esteemed universities and institutes both nationally and internationally.</p>
            <p>Unpadh is an open, online marketplace to access online courses where anyone can upload and sell a class. You don’t need to venture far or browse the different websites to get the quality technology and management course. We have accumulated everything for you in one place by blending traditional education with the modern education system.</p>
            <p>From online courses in various fields to providing career advice to helping people prepare for the competitive examinations, we are merging education with Virtual Reality to change how education is perceived in the nation. We made our name by improving the rendezvous of instructors with realistic online stages beyond the four dividers of the study hall.</p>
        </div>
    </div>
    <h2>HOW WE ADD VALUE</h2>
    <p>You don’t need to venture far as you can find everything organised in one place. Unpadh is a one-stop-Solution for learning value-oriented education to all the people in every nook and corner of the country. On our platform, you will find creative ways of learning because we introduce technology in the education field with audio, video, and 3D animation learning! If you’re someone who finds learning difficult, you will be convinced to change your mind because Unpadh has made learning far more dynamic and interactive.</p>
    <p>On Unpadh platform, we make access to any type of educational course and program information at the very moment people think of it! Even distance learning is made easy and hassle-free as the course on our platform provides the virtual lessons that most of the students enjoy over the traditional classroom lectures. Plus, we provide course customisation programs where you can add programs and courses of your choice. Seriously, Unpadh wants to make learning the easiest </p>
    <h2>APPOROACH IN OUR COUNTRY !</h2>
    <p>Unpadh interactive educational platform is made keeping things in mind like quality and the favorite education is the right of every child, no matter whether he is disabled or physically fit. The courses and programs that you will get on Unpadh platform are considered to reduce the administrative time. Plus, learning in this modern era makes homework creative through collaborative online platforms.</p>
    <h2>OUR MISSION</h2>
    <p>Our mission is to send education to every nook and corner of the world.</p>
    <h2>OUR VISION</h2>
    <p>Making online education accessible to every student and giving them the privilege to interact with an online education service provider under the same roof</p>
    <h2>OUR PHILOSOPHY</h2>
    <p>Turning every young mind into a den of education is the main ideology of unpadh. We believe in nurturing young students with the help of assorted online study programs where they can easily get access to their preferable education. Our idea is to provide a one-stop-shop platform to our students so that they can acquire online education by ensuring technology-based programs in the field of Engineering, Management, and IT.</p>
    <p>We strongly believe that education is a gateway to a better future. Any educational platform providing a goal-based study module will add to the child's value system. We believe that imparting strong career-based education ensures more development at every stage of a student's life. As per our viewpoint, the development of a child's brain is more important than collecting degrees from different colleges and universities</p>
    <p>We bridge the gap between the stay-at-home student and the online education community by giving them a platform to interact with each other through us. Plus, any online education provider can reach out to the targeted student through our state-of-the-art online education marketplace. We equally value both our students and online education provider and thus, they both have a blind trust on us. Our integrity towards the field of education is making us a superlative online marketplace for online education.</p>
</div>

<app-page2-about></app-page2-about>
<app-page3-about></app-page3-about>
<app-page4-about></app-page4-about>
<app-page7></app-page7>
