<div id="main">
    <h1>Popular Academic Program</h1>
    <p>Get the world class verified program</p>
    <div id="scroller">
        <div class="scroll">
            <div class="img" id="img1"></div>
            <h2>Cyber Security</h2>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>

        </div>
        <div class="scroll">
            <div class="img" id="img2"></div>
            <h2>Management<br> Certification</h2>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="scroll">
            <div class="img" id="img3"></div>
            <h2>Marketing</h2>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="scroll">
            <div class="img" id="img4"></div>
            <h2>Development Courses</h2>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>
        <div class="scroll">
            <div class="img" id="img5"></div>
            <h2>AI & Machine Learning</h2>
            <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>
    </div>
    <h1>Learn From The Beast Courses</h1>
    <div class="courses">
        <p>Choose from 10000+ online vedio courses</p>
        <a href="#">AI & Machine Learning</a>
        <a href="#">Management Certification</a>
        <a href="#">Development Courses</a>
    </div>
</div>