<div class="programs">
  <div class="courses">
    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Python2.jpg" alt="Python Image" />
      </div>
      <div class="course-info">
        <h2>Python for Data Science</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Business2.png" alt="Business Image" />
      </div>
      <div class="course-info">
        <h2>Business Analytics</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Data1.jpg" alt="Data Image" />
      </div>
      <div class="course-info">
        <h2>Data visualization</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Minning1.png" alt="Minning Image" />
      </div>
      <div class="course-info">
        <h2>Data mining</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Business3.jpg" alt="Business Image" />
      </div>
      <div class="course-info">
        <h2>Business intelligence tools</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Data2.png" alt="Data Image" />
      </div>
      <div class="course-info">
        <h2>Data preparation for modeling</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Pandas1.png" alt="Pandas Image" />
      </div>
      <div class="course-info">
        <h2>Pandas</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Tools2.jpg" alt="Tools Image" />
      </div>
      <div class="course-info">
        <h2>Data science toolkit</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Machine1.jpg" alt="Machine Image" />
      </div>
      <div class="course-info">
        <h2>Machine learning</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Sql1.jpg" alt="Sql Image" />
      </div>
      <div class="course-info">
        <h2>SQL</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>
  </div>
</div>
