<div class="programs">
  <div class="courses">
    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Java1.jpg" alt="Java Image" />
      </div>
      <div class="course-info">
        <h2>Java Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Web1.jpg" alt="Web-Development Image" />
      </div>
      <div class="course-info">
        <h2>Web Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/DataScience2.jpg" alt="DataScience Image" />
      </div>
      <div class="course-info">
        <h2>Data Science</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Mobile1.jpg" alt="Mobile Image" />
      </div>
      <div class="course-info">
        <h2>Mobile Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Programming1.jpeg" alt="Programming Image" />
      </div>
      <div class="course-info">
        <h2>Programming Languages</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Game1.jpeg" alt="Game Image" />
      </div>
      <div class="course-info">
        <h2>Game Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Database1.png" alt="Database Image" />
      </div>
      <div class="course-info">
        <h2>Database Design & Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Testing1.png" alt="Testing Image" />
      </div>
      <div class="course-info">
        <h2>Software Testing</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Python1.png" alt="Python Image" />
      </div>
      <div class="course-info">
        <h2>Python Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Tools1.png" alt="Tools Image" />
      </div>
      <div class="course-info">
        <h2>Software Development Tools</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>
  </div>
</div>
