<div id="header">
    <div id="left">
        <h1>INTERFACE FRIENDLY LEARNING AT UNPADH</h1>
        <p>On Unpadh platform, we make access to any type of educational course and program information at the very moment people think of it.</p>
        <h5><i class="ri-check-line"></i>90% lessons <span>are video</span></h5>
        <h5><i class="ri-check-line"></i>Displaying <span>clear curriculum </span></h5>
        <h5><i class="ri-check-line"></i>Discussion <span>With other students</span></h5>
        <h5><i class="ri-check-line"></i>Compatible <span>with Ubermenu</span></h5>
        <h5><i class="ri-check-line"></i>Compatible <span>With Many Popular Plugins</span></h5>
    </div>
    <div id="right">
        <img src="https://www.theunpadh.com/frontend/images/picture-8.png" alt="">
    </div>
</div>