<div class="programs">
  <div class="courses">
    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Operation1.jpg" alt="Operations Image" />
      </div>
      <div class="course-info">
        <h2>Operations management</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Product1.png" alt="Product Image" />
      </div>
      <div class="course-info">
        <h2>Product Management</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Hotel1.jpg" alt="Hotel Image" />
      </div>
      <div class="course-info">
        <h2>Hotel Management</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Finance2.jpg" alt="Finance Image" />
      </div>
      <div class="course-info">
        <h2>Finance</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Health2.jpeg" alt="Healthcare Image" />
      </div>
      <div class="course-info">
        <h2>Healthcare Management</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>
  </div>
</div>
