<app-nav></app-nav>
<div id="about">
    <h1>Test Series</h1>
    <p>Conquer Challenges, Unleash Brilliance! Test Series page awaits you with stimulating assessments to elevate your skills and achieve excellence.</p>
</div>
<div class="header">
    <a href="/page1" style="color: rgb(82, 185, 166);">Home</a>/<a href="#">Test series</a>
    <h1>Popular Test Series for Banking, SSC, RRB & All other Govt. Exams</h1>
    <div id="container">
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        <div class="box">
            <div id="img-text-box">
                <div id="img"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Seal_of_the_Reserve_Bank_of_India.svg/2048px-Seal_of_the_Reserve_Bank_of_India.svg.png" alt=""></div>
                <div id="new">new</div>
            </div>
            <h4>Online Test Series</h4>
            <h6>0 TOTAL TESTS | 0 Free Tests</h6>
            <div id="line1"></div>
            <a href="#"><i class="ri-translate"></i> Hindi, English</a>
            <div id="line2"></div>
            <p>0 Test Topics (Online Test Series)</p>
            <p>60 min Duration</p>
            <p>1 Each Question Marks</p>
            <p>Hindi,English</p>
            <button>View Test Series</button>
        </div>
        
    </div>

</div>

<a href=""></a>