<div id="main">
    <div id="page">
        <div id="left">
            <h1>Best Government Exam Preparation Online test series</h1>
            <p>Embark on a transformative learning journey from beginner to master with our comprehensive six-step courses. Delve into an in-depth, expert-led class on Government Job test Series, guided by experienced faculty. Unlock new horizons of knowledge and skill at Unpadh!.</p>
            <a href="#">Join Now</a>
        </div>
        <div id="right">
            <img src="/assets/images/series.png" alt="">
        </div>
    </div>
</div>