<app-nav></app-nav>
<div class="main">
    <div class="right">
        <h1>Embarkon an E-Learning
             Adventure: Uncover the Finest Courses for Limitless Learning!</h1>
        <p>Unleash your brilliance with Unpadh's captivating knowledge, interactive courses, and expert-led programs. Embrace lifelong learning and join us for immersive experiences.</p>
        <div class="search-box">
            <input type="search" placeholder="Search For Programs and Courses">
            <button type="submit">Get Started</button>
        </div>
        <div class="associate">
            <h5>Associated Students</h5>
        </div>
    </div>
    <div class="left">
        <img src="/assets/images/boy-pic.png" alt="">
    </div>
</div>
<app-page2></app-page2>
<app-page3></app-page3>
<app-page4></app-page4>
<app-page5></app-page5>
<app-page6></app-page6>
<app-page7></app-page7>
