<div id="main">
    <div id="left">
        <h1>Why to choose our program</h1>
        <p>As the largest and oldest provider of online education services globally, we take pride in our smart,
            intelligent teachers, carefully selected from the best campuses worldwide. Embrace excellence with Unpadh's
            diverse programs, empowering you on an exhilarating journey of knowledge and personal growth. Join us today
            and unlock your true...</p>
        <div id="review">
            <div id="student">
                <h1>120 K+</h1>
                <h5>Many Students</h5>
            </div>
            <div id="ecourses">
                <h1>140 K+</h1>
                <h5>Best Ecourses</h5>
            </div>
        </div>
        <div id="review">
            <div id="teacher">
                <h1>500 +</h1>
                <h5>Expert Teachers</h5>
            </div>
            <div id="member">
                <h1>100 +</h1>
                <h5>Members</h5>
            </div>
        </div>
    </div>
    <div id="right">
        <img src="/assets/images/program.png" alt="">
    </div>
</div>
<div id="main2">
    <h2>Testimonials</h2>
    <h1>See What Our Student Says About Us</h1>
    <div id="student-review">
        <div class="student" id="student1">
            <div id="left">
                <div id="img"></div>
                <h4>Sam</h4>
                <h5>Student</h5>
            </div>
            <div id="right">
                <p>Before taking the digital transformation course, I had a basic understanding of digital technologies and their applications in business. However, the course completely transformed my perspective on digital transformation and its potential impact on organizations. The course content was incredibly comprehensive, covering everything from emerging technologies to digital strategy development and implementation.</p>
            </div>
        </div>
        <!-- <div class="student" id="student2"></div>
        <div class="student" id="student3"></div>
        <div class="student" id="student4"></div>
        <div class="student" id="student5"></div> -->

    </div>
</div>