<div id="header">
    <h1>SEE OUR PROGRAMS</h1>
    <div id="count">
        <div class="box">
            <h1>97+</h1>
            <div class="line"></div>
            <h5>Teachers</h5>
        </div>
        <div class="box">
            <h1>16+</h1>
            <div class="line"></div>
            <h5>Courses</h5>
        </div>
        <div class="box">
            <h1>186+</h1>
            <div class="line"></div>
            <h5>Members</h5>
        </div>
    </div>
    <button><a href="">START LEARN NOW</a></button>
</div>
