<div id="main">
    <h1>Subscribe to our newsletter</h1>
    <p>Get notification about tips, new product and exclusive promo news just for you.</p>
    <div id="mail"><i class="ri-mail-line"></i>
        <input type="email" placeholder="Your Email ">
        <button type="submit">JOIN NOW</button>
    </div>
    <div id="footer">
        <div class="box" id="box1">
            <img src="/assets/images/logo.png" alt="">
            <p>Unpadh is an open, online marketplace to access online courses where anyone can upload and sell a class. You don’t need to venture far or browse the different websites to get the quality technology and management course.</p>
            <div id="icons">
                <i class="ri-facebook-fill"></i>
                <i class="ri-twitter-x-fill"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-youtube-fill"></i>
            </div>

        </div>
        <div class="box" id="box2">
            <h3>Links</h3>
            <div id="link">
                <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Programs</a>
            <a href="#">Test Series</a>
            <a href="#">Contact</a>
            </div>
        </div>
        <div class="box" id="box3">
            <h3>About</h3>
            <div id="link">
                <a href="#">Partners</a>
                <a href="#">Careers</a>
                <a href="#">Press</a>
                <a href="#">Community</a>
            </div>
        </div>
        <div class="box" id="box4">
            <h3>Our Office</h3>
            <div id="link">
                <a href="#">
                    <i class="ri-mail-fill"></i> infotheunpadh.com
                </a>
                <a href="#">
                    <i class="ri-phone-fill"></i> +91 9582763275
                </a>
            </div>
        </div>
    </div>
    <div id="end">
        <h5>© 2024 Unpadh.com All rights reserved.</h5>
        <div id="terms">
            <a href="#">Privacy</a>
            <a href="#">Security</a>
            <a href="#">Terms</a>
        </div>
    </div>
</div>