<div id="main">
    <h1>
        Stay updated with latest news and articles
    </h1>
    <div class="boxes">
        <div class="box" id="box1">
            <div class="img" id="img1">
                <!-- <img src="https://www.theunpadh.com/storage/news_and_article/1660112266news-8.jpg" alt=""> -->
            </div>
            <h4><i class="ri-calendar-2-line"></i> 06 August, 2022</h4>
            <h2><a href="#">CBSE Result 2022 Live: Updates on CBSE board class 10th,...</a></h2>
            <p>NEW DELHI: Central Board of Secondary Education, CBSE will declare CBSE board result 2022 10th, 12th by July end. The CBSE 10th, 12th result 2022 term 2 will be released on the official website, cbseresults.nic.in 2022. Students need to enter their roll number, date of birth, and school number to...                                        
            </p>
        </div>
        <div class="box" id="box2">
            <div class="img" id="img2"></div>
            <h4><i class="ri-calendar-2-line"></i> 06 August, 2022</h4>
            <h2><a href="#">CUET 2022 July 19 Live: Slot 1 exam over; Check paper an...</a></h2>
            <p>
                The first slot exam of CUET UG 2022 for day 3 is over.                                       
            </p>
        </div>
        <div class="box" id="box3">
            <div class="img" id="img3"></div>
            <h4><i class="ri-calendar-2-line"></i> 06 August, 2022</h4>
            <h2><a href="#">TS EAMCET 2022 July 19 Live: Shift 1exam ends; Check pa...</a></h2>
            <p>
                NEW DELHI: Jawaharlal Nehru Technological University, Hyderabad has concluded the TS EAMCET 2022 July 19 shift 1 exam at 12 AM. The exam authorities conducted the TS EAMCET 2022 exam for July 19 shift 1 from 9 AM to 12 PM. The TS EAMCET exam timing is for 3 hours....                                  
            </p>
        </div>
    </div>
</div>