<div class="programs">
  <div class="courses">
    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Management1.png" alt="Management Image" />
      </div>
      <div class="course-info">
        <h2>Management Certification</h2>
        <button class="join-button"><a href="managementHome">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Development1.jpg" alt="Development Image" />
      </div>
      <div class="course-info">
        <h2>Development Courses</h2>
        <button class="join-button"><a href="developmentHome">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/DataScience1.jpg" alt="DataScience Image" />
      </div>
      <div class="course-info">
        <h2>Data Science & Business Analytics</h2>
        <button class="join-button"><a href="dataScienceHome">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/AI1.png" alt="AI Image" />
      </div>
      <div class="course-info">
        <h2>AI & Machine Learning</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/CyberSecurity1.jpg" alt="CyberSecurity Image" />
      </div>
      <div class="course-info">
        <h2>Cyber Security</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/CloudComputing1.jpg" alt="CloudComputing Image" />
      </div>
      <div class="course-info">
        <h2>Cloud Computing</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Business1.jpg" alt="Business Image" />
      </div>
      <div class="course-info">
        <h2>Business and Leadership</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Agile1.png" alt="Agile Image" />
      </div>
      <div class="course-info">
        <h2>Agile and Scrum</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/IT1.png" alt="IT Image" />
      </div>
      <div class="course-info">
        <h2>IT Service and Architecture</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Digital1.jpg" alt="Digital Image" />
      </div>
      <div class="course-info">
        <h2>Digital Marketing</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/BigData1.png" alt="BigData Image" />
      </div>
      <div class="course-info">
        <h2>Big Data</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Finance1.jpg" alt="Finance Image" />
      </div>
      <div class="course-info">
        <h2>Finance & Accounting</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Software1.jpg" alt="Software Image" />
      </div>
      <div class="course-info">
        <h2>IT & Software</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Office1.jpg" alt="Office Image" />
      </div>
      <div class="course-info">
        <h2>Office Productivity</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Personal1.jpg" alt="Personal Image" />
      </div>
      <div class="course-info">
        <h2>Personal Development</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Design1.jpg" alt="Design Image" />
      </div>
      <div class="course-info">
        <h2>Designs</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Marketing1.png" alt="Marketing Image" />
      </div>
      <div class="course-info">
        <h2>Marketing</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/LifeStyle1.jpg" alt="Lifestyle Image" />
      </div>
      <div class="course-info">
        <h2>Lifestyle</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Photo1.jpg" alt="Photo Image" />
      </div>
      <div class="course-info">
        <h2>Photography & Video</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Health1.jpg" alt="Health Image" />
      </div>
      <div class="course-info">
        <h2>Health & Fitness</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Music1.png" alt="Music Image" />
      </div>
      <div class="course-info">
        <h2>Music</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Teaching1.jpg" alt="Teaching Image" />
      </div>
      <div class="course-info">
        <h2>Teaching & Academics</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Government1.jpg" alt="Government Image" />
      </div>
      <div class="course-info">
        <h2>Government Exams Preparation</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>
  </div>
</div>
