<div class="main">
    <div class="right">
        <h1>Start Learning with Unpadh and achive your goals</h1>
        <img src="/assets/images/page2-img.png" alt="">
    </div>
    <div class="left">
        <p>By joining Unpadh as a passionate student, you'll unlock a treaser trove of benifits. Gain profound insights and knowledge from expert instructors. Build meaningful relationships with our vibrant global community. Each coveted international certificates, and exprience the joy of seamless, flexible learning. Embrace excellence with Unpadh, your gateway to a world of opportunities!
        </p>
        <div class="box">
            <div class="box-left">
                <i class="ri-color-filter-fill"></i>
            </div>
            <div class="box-right">
                <h4>Expert mentors</h4>
                <p>mentors from the world's best college alumni</p>
            </div>
        </div>
        <div class="box">
            <div class="box-left">
                <i class="ri-medal-2-fill"></i>
            </div>
            <div class="box-right">
                <h4>Lifetime Access</h4>
                <p>Certificate that can be used to apply for work</p>
            </div>
        </div>
        <div class="box">
            <div class="box-left"><i class="ri-team-fill"></i></div>
            <div class="box-right">
                <h4>Online & Ofline</h4>
                <p>Wide relationship and opportunity</p>
            </div>
        </div>
    </div>
</div>
