<header>
    <img src="/assets/images/logo.png" alt="">
    <input class="search" type="search" placeholder="search for anything">
        <div class="explore">
            <ul class="nav-field">
                <li class="nav-item"><a href="#">Programs</a></li>
                <li class="nav-item"><a href="#">Business</a></li>
                <li class="nav-item"><a href="#">Test-Series</a></li>
                <li class="nav-item"><a href="#"></a>Become-Instructor</li>
                <li class="nav-item"><a href="/components/about">About-us</a></li>
            </ul>
        </div>
    <div class="log-in"><a href="/login">Login</a></div>
    <div class="register"><a href="/register">Register</a></div>
</header>
