<div class="programs">
  <div class="courses">
    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Neural1.jpg" alt="Neural Image" />
      </div>
      <div class="course-info">
        <h2>Neural networks</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Reinforcement1.jpg" alt="Reinforcement Image" />
      </div>
      <div class="course-info">
        <h2>Reinforcement learning</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Natural1.png" alt="Natural Image" />
      </div>
      <div class="course-info">
        <h2>Natural language processing</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Tensorflow1.png" alt="Tensorflow Image" />
      </div>
      <div class="course-info">
        <h2>TensorFlow</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Conversational1.jpg" alt="Conversational Image" />
      </div>
      <div class="course-info">
        <h2>Conversational AI</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Artificial1.jpg" alt="Artificial Image" />
      </div>
      <div class="course-info">
        <h2>Artificial intelligence</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Artificial2.png" alt="Artificial Image" />
      </div>
      <div class="course-info">
        <h2>Artificial Intelligence Nanodegree</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Python3.jpg" alt="Python Image" />
      </div>
      <div class="course-info">
        <h2>Python</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Regression1.png" alt="Regression Image" />
      </div>
      <div class="course-info">
        <h2>Introduction to Regression</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>

    <div class="course-container">
      <div class="image-container">
        <img src="/assets/images/Deep1.jpg" alt="Deep Image" />
      </div>
      <div class="course-info">
        <h2>Deep learning</h2>
        <button class="join-button"><a href="#">Join Now</a></button>
      </div>
    </div>
  </div>
</div>
