<div id="header">
    <h1>WITH <span style="font-weight: 600;">UNPADH</span> YOU CAN</h1>
    <p>You will get the world class facility.</p>
    <div id="icons">
        <i class="ri-wifi-fill"></i>
        <div class="line"></div>
        <i class="ri-search-line"></i>
        <div class="line"></div>
        <i class="ri-thumb-up-fill"></i>
        <div class="line"></div>
        <i class="ri-user-fill"></i>
    </div>
    <div id="text">
        <h5>Learning online 100%</h5>
        <h5>Learn everything you want</h5>
        <h5>Learn from top expert</h5>
        <h5>Training internal HR</h5>
    </div>
</div>